.tab-pane {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}
.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 2px solid #b9cbff;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0;
}



